.container {
  height: calc(100vh - 50px);
  overflow-y: auto;
  scrollbar-width: thin;
  box-sizing: border-box;
  width: 100%;
  margin: auto;
}

@media (max-width: 1170px) {
  .container {
    height: 115dvh;
    padding-bottom: 210px;
  }  
}