.container {
  width: 100%;
}

.header {
  display: flex;
  align-items: center;
}

.createdAt {
  color: #71767B;
  font-size: 14px;
  font-weight: 100;
  text-transform:initial;
}

.body {
  margin-top: 11px;

  &__images {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(190px, auto));
    justify-content: flex-start;
    column-gap: 10px;
    row-gap: 10px;
    margin-top: 10px;
  }

  &__image {
    height: 100%;
    max-height: 250px;
    border: 1px solid rgba(0, 0, 0, 0.12);
  }
}

@media (max-width: 600px) {
  .body {
    &__images {
      grid-template-columns: repeat(2, minmax(100px, 250px));
      column-gap: 5px;
      row-gap: 5px;
      margin-top: 10px;
    }
  }
}
