.message {
  position: relative;

  &__title {
    visibility: hidden;
  }
  &__time {
    width: max-content;
    display: flex;
    height: 21px;
    float: right;
    direction: rtl;
    margin-inline-end: 3px;

    &__container {
      position: absolute;
      bottom: 4px;

      max-width: max-content;
      font-style: italic;
      font-weight: 100;
      font-size: 12px;
      float: right;
      direction: rtl;
      // display: inline-flex;
      // align-items: flex-end;
    }
  }
}
