.container {
  display: flex;
  justify-content: space-between;
  padding: 4px 0;
}

.header {
  background-color: #0e0e0e;
  &__logo {
    display: flex;
    align-items: center;
    column-gap: 7px;
    height: 42px;
  }
  &__logo span {
    display: block;
    width: 32px;
    height: 32px;
    background-image: url("../Assets/Icons/logo.svg");
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.avatar {
  display: flex;
  align-items: center;
}