.container {
  display: flex;
  justify-content: space-between;
  padding: 4px 0;
}

.header {
  background-color: #0e0e0e;
  &__logo {
    display: flex;
    align-items: center;
    column-gap: 7px;
    height: 42px;
  }
}

.avatar {
  display: flex;
  align-items: center;
}