.container {
  display: flex;
  justify-content: space-between;
  padding: 4px 10px;
}

.header {
  border-bottom: 1px solid #282828;
  &__logo {
    display: flex;
    align-items: center;
    column-gap: 7px;
    height: 42px;
  }
}

.avatar {
  display: flex;
  align-items: center;
  a {
    text-decoration: none;
  }
}