.chat {
  &__container {
    position: relative;
    &__response {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.messages {
  padding: 1px 10px 0;
  display: flex;
  overflow-y: auto;
  overflow-anchor: none;
  scrollbar-width: thin;
  flex-direction: column-reverse;
  height: 100vh;
  width: 100%;
  flex: 1 1 0%;
  // position: sticky;

  &__content {
    display: flex;
    flex-direction: column;
    row-gap: 2px;
  }

  &__input {
    margin: 10px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    height: max-content;
    &__emoji {
      margin-bottom: 11px;
    }
  }

  &__spacer {
    height: 55px;
    &__loader {
      visibility: hidden;
    }
  }
}
