.article {
  // padding-top: 40px;
  display: grid;
  grid-template-columns: 250px auto;
  // width: 100%;
  // flex-direction: column;
  // justify-content: flex-end;
  height: 100vh;
  box-sizing: border-box;
}