.article {
  display: grid;
  grid-template-columns: 250px auto 370px;
  width: 100%;
  height: calc(100vh - 50px);
  box-sizing: border-box;
}

.right {
  margin-left: 10px;
  box-sizing: border-box;
  border-left: 1px solid #282828;
}

@media screen and (max-width: 1170px) {
  .header {
    display: none;
  }

  .article {
    grid-template-columns: auto;
    height: 100vh;
  }

  .navigation {
    display: none;
  }
}
